.jumbotron {
    background-color: aqua;
    color: white;
    margin-top: 55px;
}

.centrar {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

footer {
    padding: 10px 20px 10px 10px;
    background-color: aqua;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    /* padding: .75rem 1.25rem; */
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    text-align: center;
    text-orientation: row;
    
}

.card {
    display: inline-flex;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

.img {
    /* display: flex;  */
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
